<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NFeInutilizacao4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeConsultaProtocolo4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NfeStatusServico4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeRecepcaoEvento4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeAutorizacao4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeRetAutorizacao4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NfeRetAutorizacao4Soap" receiveTimeout="00:00:10" sendTimeout="00:00:10">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Status Serviço -->
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeStatusServico4Soap" contract="NfeStatusServico4.NfeStatusServico4Soap" name="NfceStatusServico2Hom" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeStatusServico4Soap" contract="NfeStatusServico4.NfeStatusServico4Soap" name="NfceStatusServico2Prod" />
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeStatusServico4Soap" contract="NfeStatusServico4.NfeStatusServico4Soap" name="NfeStatusServico2Hom" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeStatusServico4Soap" contract="NfeStatusServico4.NfeStatusServico4Soap" name="NfeStatusServico2Prod" />
      <!-- Consulta -->
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeConsultaProtocolo4Soap" contract="NFeConsultaProtocolo4.NFeConsultaProtocolo4Soap" name="NfceConsulta2Hom" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeConsultaProtocolo4Soap" contract="NFeConsultaProtocolo4.NFeConsultaProtocolo4Soap" name="NfceConsulta2Prod" />
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeConsultaProtocolo4Soap" contract="NFeConsultaProtocolo4.NFeConsultaProtocolo4Soap" name="NfeConsulta2Hom" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeConsultaProtocolo4Soap" contract="NFeConsultaProtocolo4.NFeConsultaProtocolo4Soap" name="NfeConsulta2Prod" />
      <!-- Autorização -->
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap" contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NfeAutorizacaoSoapHom" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap" contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NfeAutorizacaoSoapProd" />
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap" contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NfceAutorizacaoSoapHom" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap" contract="NFeAutorizacao4.NFeAutorizacao4Soap" name="NfceAutorizacaoSoapProd" />
      <!-- Recepção Evento-->
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="RecepcaoEventoSoapHomNfe" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="RecepcaoEventoSoapProdNfe" />
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="RecepcaoEventoSoapHomNfce" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="NFeRecepcaoEvento4.NFeRecepcaoEvento4Soap" name="RecepcaoEventoSoapProdNfce" />
      <!-- INUTILIZACÃO -->
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap" contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NfeInutilizacao2Homologacao" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap" contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NfeInutilizacao2Producao" />
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap" contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NfceInutilizacao2Homologacao" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeInutilizacao4Soap" contract="NFeInutilizacao4.NFeInutilizacao4Soap" name="NfceInutilizacao2Producao" />
      <!-- RetAutorização-->
      <!-- NF-e -->
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacao4Soap" contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NfeRetAutorizacaoSoapHom" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacao4Soap" contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NfeRetAutorizacaoSoapProd" />
      <!-- NFC-e -->
      <endpoint address="https://nfce-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacao4Soap" contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NfceRetAutorizacaoSoapHom" />
      <endpoint address="https://nfce.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx" binding="basicHttpBinding" bindingConfiguration="NfeRetAutorizacao4Soap" contract="NFeRetAutorizacao4.NFeRetAutorizacao4Soap" name="NfceRetAutorizacaoSoapProd" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
