<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="MailKit" version="2.10.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net48" />
  <package id="MimeKit" version="2.10.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net48" />
  <package id="QRCoder" version="1.4.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net461" />
  <package id="ZKWeb.System.Drawing" version="4.0.1" targetFramework="net48" />
</packages>